* {
    box-sizing: border-box
}

body {
    display: flex;
}

#left-column {
    width: 30%;
}

#middle-column {
    width: 40%;
    height: 70vh;
}

#right-column {
    width: 30%;
}

#middle-column header {
    text-align: center;
    font-size: 3em;
}

#middle-column #about {
    width: 100%;
    border: 1px solid #333;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #EEE;
}

#middle-column #link {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
}

#middle-column #submit {
    margin: auto;
    display: grid;
    margin: 1em auto;
    font-size: 1.5em;
    padding: 0.7em;
}